# lindorm search-vector configuration
LINDORM_INSTANCE_ID=
USING_VPC_NETWORK=false
USERNAME=
PASSWORD=
TEXT_EMBEDDING_MODEL=text-embedding-v4
TEXT_EMBEDDING_DIMENSION=1024
TABLE_DATABASE=default
LINDORM_USE_SSL=true
LINDORM_VERIFY_SSL=true

# Only needed for SSE transport.
SERVER_TRANSPORT=stdio
SERVER_HOST=127.0.0.1
SERVER_PORT=8000
API_KEY=
ALLOW_PUBLIC_BINDING=false
